.oncellClick{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
}

.oncellClick:focus{
    border: none;
}
table{
    border: none;
}

#tableDiv{
  margin: 100px;
}

tr{
    border: 1px solid black;
}
tr:nth-child(odd){
  background-color: #eee;
}

tr:nth-child(even){
  background-color: #fff;
}
input.oncellClick{
  background-color: transparent;
}
input.oncellClick:focus {
    outline-width: 0;
}

.addSelection{
  border: 2px solid green;
}
